<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .reload {
    font: 1em sans-serif;
    background-color: #0984e3;
    color: white;
    border: none;
    padding: 14px 18px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {
  }
</style>


<div class="content" role="main">
    <qrcode [qrdata]="data" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>

    <button class="reload" (click)="reloadQrCode()"> R </button>

  <app-messages></app-messages>
</div>